.filters{
    max-width: $max-width;
    margin: 30px auto 100px auto;
    text-align: center
}

.filters__filter{
    border: 1px solid #E0E7EE;
    border-radius: 5px;
    height: $xl-size;
    background-color: white;
    color: $blue-grey;
}

.filters__block {
    display: inline-block;
    padding: 0 15px 0 15px;
}
.filters__block *{
    display: block;
    text-align: left;

}
.filters__block label{
    color: $grey;
    font-size:$xs-size
}
.filters__filter::placeholder{
    color: $blue-grey;
    padding-left: 10px;
}
input[type=text]{
    padding-left: 10px; 
}
