.filters{
    max-width: $max-width;
    margin: 30px auto 100px auto;
    text-align: center
}

.filters__filter{
    border: none;
    background-color: $white-grey;
    border-radius: 5px;
    height: $xl-size;
    color: $blue-grey;
    min-width: 130px;
    position: relative
}
.filters__filter:before {
    content: "\25AE";  /* this is your text. You can also use UTF-8 character codes as I do here */
   
    left:-5px;
    position:absolute;
    top:0;
 }
.filters__block {
    display: inline-block;
    padding: 0 15px 0 15px;
}
.filters__block *{
    display: block;
    text-align: left;

}
.filters__block label{
    color: $grey;
    font-size:$xs-size
}
.filters__filter::placeholder{
    color: $blue-grey;
    padding-left: 10px;
}
input[type=text]{
    padding-left: 10px; 
}
.filter-item {
    font-size: $xm-size;
    color: $dark;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(https://fontawesome.com/icons/caret-down?style=solid) 96% / 15% no-repeat #eee;
}