.header{
    color: $dark;
    width: 100%;
   
}
.header .container{
    height: 75px;
    line-height: 75px
}
.logo{
    height: 45px
}
.logo-text{
    font-size: 2.0rem;
    display: inline-block;
    padding-left: 10px;
    font-weight: bold;
}
.search-bar{
    content: 'f0c1';
    display:inline-block;
    height: 40px;
    border-radius: 21px;
    border: 1px solid $white-grey;
    float: right;
    margin: 20px 0;
    // background: url(../../public/img/search.png) no-repeat scroll -20px -20px;
    padding-left: 40px
}