.trailListItem{
    height: 350px; 
    border-radius: 5px;
    margin-bottom: $xl-size;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15)
}

.trailListItem__body {
    height: 30%;
    padding: 15px;
}

.trailListItem__img{
    border-radius: 5px 5px 0 0;
    height: 70%;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
}
.trailListItem__body ul {
    padding: 5px 0;
}
.trailListItem__body ul li{
    font-size: $s-size;
    display: inline-block;
    padding-right: $m-size 
}
.trailListItem__body ul li i {
    font-size: $s-size;
    padding-right: 5px;
}
.trailListItem__body__label{
    color: $blue-grey;
    font-size: $s-size;
}

.modal__img{
    height: 330px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.modal__body{
    padding: $l-size
}
.modal__body ul {
    padding: $l-size 0
}
.modal__body ul li{
    font-size: $m-size;
    display: inline-block;
    padding-right: $m-size 
}
.modal__body__description{
    padding-bottom: 30px
}