// Colors
$white-grey: #f6f7f9;
$dark: #222626;
$light-green: #94CF50;
$grey: #90A1B5;
$blue-grey: blue;
// Spacing
$xs-size: 1.2rem;
$s-size: 1.4rem;
$m-size: 1.6rem;
$xm-size: 2.2rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$max-width: 75rem;
